// you can name from http://chir.ag/projects/name-that-color
$mineShaft : #333333;
$osloGray : #909399;
$linkWater :#f2f6fc;
$silver : #cccccc;
$miku : #39C5BB;
$froly : #f56c6c;
$tulipTree : #e6a23c;
$white : #ffffff;
$fern : #5cb85c;
$black : #000000;

// Border Colors 
$border-miku : #39C5dd;
$border-fern : #10b310;
$border-froly : #d9534f;
$border-tulipTree : #ce9135;