// you can name from http://chir.ag/projects/name-that-color
// colors vars 
$mineShaft : #333333;
$osloGray : #909399;
$linkWater :#f2f6fc;
$silver : #cccccc;
$miku : #39C5BB;
$froly : #f56c6c;
$tulipTree : #e6a23c;
$white : #ffffff;
$fern : #5cb85c;
$black : #000000;
$alabaster : #f9f9f9;

// Border Colors 
$border-miku : #39C5dd;
$border-fern : #10b310;
$border-froly : #d9534f;
$border-tulipTree : #ce9135;

// typeplate vars 
$bella : 36px;
$beauty: 48px;
$bravery: 72px;
$brilliance: 78px;
$brutality: 88px;
$butterfly : 98px;

// font-vars 
$fontSize_0 : 24px;
$fontSize_1 : 28px;
$fontSize_2 : 32px;
$fontSize_3 : 36px;
$fontSize_4 : 40px;
$fontSize_5 : 44px;