@import "../../scss/vars.scss";
@import "../../scss/mixin.scss";

.gumi-radio {
  display: flex;
  align-items: center;
  font-size: $fontSize_1;
  color: $mineShaft;
  user-select: none;
}

.gumi-radio--icon {
  height: $fontSize_1;
  width: $fontSize_1;
  margin-right: 15px;
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  &::after {
    transition: all .2s linear;
  }
}

.gumi-radio--unselected {
  .gumi-radio--icon {
    border: 1px solid $osloGray;

    &::after {
      @include absoluteCenter;
      content: '';
      width: 0px;
      height: 0px;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: $miku;
    }
  }
}

.gumi-radio--selected {
  color: $miku;

  .gumi-radio--icon {
    border: 1px solid $miku;

    &::after {
      @include absoluteCenter;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: $miku;
    }
  }
}