.component-view {
}

.component-display {
  padding: 30px;

  &--title {
    color: #999;
  }
  &--content{ 
    margin-top: 20px;
  }
  &--button__type {
    .gumi-button {
      & + .gumi-button {
        margin-left: 20px;
      }
    }
  }
}

body,html {
  height: 100%;
}

body { 
  background-color: #f9f9f9;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}


img {
  -webkit-user-drag: none;
}
