@charset "utf-8";

// /禁用iPhone中Safari的字号自动调整 
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust    : none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  resize            : none;
  border-radius     : 0;
}

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width             : 100%;
  height                : auto;
  width                 : auto\9;
  -ms-interpolation-mode: bicubic;
}

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin : 0;
  padding: 0;
  border : none;
}

body {
  // background    :#fff;
  // font-family: "微软雅黑";
}

em,
i {
  font-style: normal;
}

strong {
  font-weight: normal;
}

.clearfix:after {
  content   : "";
  display   : block;
  visibility: hidden;
  height    : 0;
  clear     : both;
}

.clearfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color          : #333;
  // font-family : "黑体", Microsoft YaHei, Tahoma, Arial, sans-serif;
}

a:hover {
  color          : #fed503;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size  : 100%;
  font-family: Microsoft YaHei;
}

img {
  border: none;
}