@import "../../scss/vars.scss";
@import "../../scss/mixin.scss";

.gumi-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: $fontSize_1;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  // 移动设备上如手机和平板横屏会导致字体变大，-webkit-text-size-adjust: 100%可以禁止字体变化
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

.gumi-button::before {
  @include absoluteCenter;
  width: 100%;
  height: 100%;
  background-color: $black;
  border: inherit;
  border-color: $black;
  border-radius: inherit;
  opacity: 0;
  content: " ";
}

.gumi-button:active::before {
  opacity: 0.1;
}

.gumi-button--default {
  color: $mineShaft;
  background-color: $white;
  border: 1px solid $silver;
}

.gumi-button--plain.gumi-button--default {
  background-color: $white;
  color: $mineShaft;
}

.gumi-button--primary {
  color: $white;
  background-color: $miku;
  border: 1px solid $border-miku;
}

.gumi-button--plain.gumi-button--primary {
  background-color: $white;
  color: $miku;
}

.gumi-button--success {
  color: $white;
  background-color: $fern;
  border: 1px solid $border-fern;
}

.gumi-button--plain.gumi-button--success {
  background-color: $white;
  color: $fern;
}

.gumi-button--danger {
  color: $white;
  background-color: $froly;
  border: 1px solid $border-froly ;
}

.gumi-button--plain.gumi-button--danger {
  background-color: $white;
  color: $froly;
}

.gumi-button--warn {
  color: $white;
  background-color: $tulipTree;
  border: 1px solid $border-tulipTree ;
}

.gumi-button--plain.gumi-button--warn {
  background-color: $white;
  color: $tulipTree;
}

.gumi-button--small {
  padding: 12px 18px;
}

.gumi-button--normal {
  padding: 18px 27px;
}

.gumi-button--large {
  padding: 24px 36px;
}

.gumi-button--round {
  border-radius: 999px;
}

.gumi-button--block {
  display: block;
}

.gumi-button--disabled {
  opacity: .5;
}

.gumi-button--disabled:active::before {
  opacity: 0;
}